@media (max-width: 1200px){
  .header{
    &__managebox {
      right: 35px;
    }
    &__wrapper {
      left: 40px;
      width: 40px;
      img{
        height: 40px;
        width: 100%;
      }
    }
    &__contactbox{
      &::before{
        bottom: 25%;
      }
    }
  }
  .phone-number {
    height: auto;
    padding-right: 15px;
  }
  .menu{
    &__btn{
      right: 35px;
    }
    &__list{
      font-size: 20px;
      margin: 35px auto 0;
    }
  }
  .card {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 2.16%;

    &__title {
      // 233px
      width: auto;
      padding: 20px 0px 0px;
      height: 105px;
      font-size: 35px;
      line-height: 0.8em;
    }
    &__text {
      width: 85.5%;
      font-size: 20px;
      line-height: 0.9em;
    }
    &__link {
      margin: 12% 0% 12% 16.25%;
    }
  }
}
@media (max-width: 1020px){
  .formbox{
    width: 90%;
  }
}
@media (max-width: 992px){
  .header{
    &__managebox {
      right: 35px;
    }
    &__wrapper {
      left: 25px;
      width: 35px;
      img{
        height: 35px;
        width: 100%;
      }
    }
    &__contactbox{
      &::before{
        bottom: 25%;
      }
    }
  }
  .phone-number {
    height: auto;
    font-size: 22px;
    line-height: 1em;
    padding-right: 15px;
  }
  .languages{
    bottom: -40px;
    height: 36px;
    &__item{
      font-size: 16px;
    }
  }
  .menu{
    width: 100%;
    &__btn{
      right: 35px;
    }
    &__list{
      font-size: 20px;
      margin: 35px auto 0;
    }
  }
  .about {
    transform: translateY(0);
    height: auto;
    font-size: 20px;
    background: url("../images/lighthouse2.png"),#006CB5;
    background-repeat: no-repeat;
    background-position: 55.5% 65px;
    background-size: auto 100%;
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &__title {
      font-size: 55px;
    }
    &__textbox{
      width: 100%;
      height: auto;
    }
    &__text {
      margin: 25px 0px 0px;
    }
    &__card-items {
      width: 83.3%;
      height: auto;
      position: static;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      z-index: 4;
    }
  }
  .card {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 3.16%;

    &__title {
      // 233px
      width: 64.36%;
      padding: 20px 0px 0px;
      height: 75px;
      font-size: 25px;
      line-height: 0.8em;
    }
    &__text {
      width: 85.5%;
      font-size: 20px;
      line-height: 0.9em;
    }
    &__link {
      margin: 12% 0% 12% 16.25%;
    }
  }
  .products {
    background-size: auto 15%;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    z-index: 0;
    &__title {
      font-size: 42px;
      width: auto;
      padding-top: 220px;
      margin: 0 auto 80px;
    }
    &__card-items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: auto;
      margin: 0px 0px 10px;
      z-index: 5;
    }
    &__card {
      width: 360px;
      padding: 11px 17px 0px;
      margin-right: 0;
      margin-bottom: 10px;
      transition: 0.2s;
    }
    &__card-title {
      margin-top: 80px;
      font-size: 35px;
    }
  }
  .partners {
    background-size: auto 100%;
    &__title {
      font-size: 65px;
    }
    &__card-items {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 0 20px;
    }
    &__card {
      margin-right: 20px;
    }
  }
  .cook{
    text-shadow: 0px 0px 1.2px;

  }
  .formbox{
    &__textbox{
      width: 350px;
      height: 455px;
    }
    &__title{
      font-size: 36px;
    }
    &__text{
      font-size: 16px;
      padding-top: 40px;
      padding-bottom: 70px;
    }
    &__under-text{
      font-size: 14px;
    }
  }
  .form{
    height: 325px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__contactbox{
      top: 80px;
      right: 70px;
      width: 105px;
    }
    &__link{
      display: inline-block;
      height: 40px;
      width: 40px;
    }
    &__link-img{
      display: block;
      margin: 0 auto;
    }
    &__input{
      font-size: 20px;
    }
    &__sumbit{
      height: 40px;
      width: 180px;
      font-size: 26px;
      padding-bottom: 8px;
    }
  }
  .form-page{
    background-size: auto 30%;
  }
}
@media (max-width:768px){
  .header{
    &__managebox {
      right: 25px;
    }
    &__menu-btn {
      height: 25px;
      width: 25px;
    }
    &__wrapper {
      left: 10px;
      width: 30px;
    }
  }
  .phone-number {
    height: auto;
    font-size: 18px;
    line-height: 1em;
    padding-right: 15px;
  }
  .languages{
    bottom: -40px;
    height: 32px;
    &__item{
      font-size: 13px;
    }
  }
  .header__phone{
    height: 30px;
    width: 30px;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .header__mail{
    height: 30px;
    width: 30px;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .menu{
    width: 100%;
    &__btn{
      right: 25px;
      height: 25px;
      width: 25px;
      background-position: center center;
      background-size: 100% 100%;
    }
    &__list{
      font-size: 18px;
      margin: 35px auto 0;
    }
  }
  .about {
    height: auto;
    font-size: 18px;
    &__title {
      font-size: 45px;
    }
  }
  .products {
    &__title {
      font-size: 40px;
      width: auto;
      padding-top: 180px;
      margin: 0 auto 60px;
    }
  }
  .partners {
    height: auto;
    width: 100%;
    padding: 50px 0px;
    &__title {
      font-size: 50px;
    }
    &__card-items {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      margin: 20px 0px;
    }
    &__card {
      width: 265px;
      margin: 0px 0px 10px 0px;
    }
  }
  .cook {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: -600px center;
    padding-bottom: 30px;
    &__container {
      padding-right: 0;
    }
    &__textbox {
      display: inline-block;
      width: 99%;
      height: auto;
      padding: 10px 0px 0px 10px;
      text-align: center;
    }
    &__title {
      font-size: 70px;
      text-align: center;
    }
    &__text {
      font-size: 16px;
      padding: 20px 10px 40px;
    }
    &__card-items {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &__card{
      margin-bottom: 20px;
    }
    &__card-textbox {   
      text-align: left;
      padding-left: 35px;
      &:before {
        left: 0px;
        background-size: cover;
        height: 30px;
        width: 30px;
      }
    }
  
  }
  .form-page{
    height: auto;
    width: 100%;
    padding: 197px 0px 30px;
    
  }
  .formbox{
    position: relative;
    height: auto;
    // 1135px
    // width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__textbox{
      width: 90%;
      height: auto;
      padding: 20px;
    }
    &__title{
      font-size: 36px;
      text-align: center;
    }
    &__text{
      font-size: 16px;
      padding: 30px 50px;
    }
    &__under-text{
      font-size: 12px;
      padding: 20px 10px;
    }
  }
  .form{
    height: 325px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__contactbox{
      top: auto;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      width: 90%;
    }
    &__link{
      display: inline-block;
      height: 40px;
      width: 40px;
    }
    &__link-img{
      display: block;
      margin: 0 auto;
    }
    &__input{
      font-size: 22px;
      width: 80%;
    }
    &__sumbit{
      height: 40px;
      width: 180px;
      font-size: 26px;
      padding-bottom: 8px;
    }
  }
  .footer{
    position: relative;
    height: 380px;
    width: 100%;
    padding: 115px 0px 0px;
    // &__logo{
    //   // 305px
    //   // height: 52.58%;
    //   width: 100%;
    // }
    &__content{
      // position: absolute;
      // top: 130px;
      // 1135px
      width: 78.81%;
      height: auto;
      // margin: 0 12% 25px;
    }
    &__list{
      height: auto;
      font-size: 18px;
    }
    &__list-item{
      padding: 5px 0px;
    }
    &__social{
      height: 130px;
      width: 30px;
    }
    &__social-img{
      height: 30px;
      width: 30px;
    }
  }
  .copyright{
    position: absolute;
    bottom: 0;
    background-color: #1A242E;
    width: 100%;
    height: 80px;
    padding: 0;
    &__link{
      display: block;
      font-family: 'PTSans-Regular', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1em;
      width: 90%;
      margin: 10px auto;
      color: rgba(#F8F8F8, 0.5);
    }
  }
}
@media (max-width:576px){
  .about {
    background-position: 54.5% 225px;
    background-size: auto 88%;
    width: 100%;
    font-size: 16px;
    &__title {
      font-size: 40px;
    }
    &__text {
      margin: 25px 0px 0px;
    }
  }
  .products {
    &__title {
      font-size: 37px;
      width: auto;
      padding-top: 140px;
      margin: 0 auto 50px;
    }
  }
  .cook{
    background-position: -680px center;
    &__title {
      font-size: 65px;
    }
    &__text {
      font-size: 14px;
      padding: 10px 5px 40px;
    }
  }
  .form{
    &__link-img{
      display: block;
      margin: 0 auto;
      height: 25px;
      width: 25px;
    }
  }
  .formbox{
    &__text{
      font-size: 16px;
      padding: 30px 10px;
    }
    &__under-text{
      font-size: 12px;
      padding: 20px 10px;
    }
  }
}
@media (max-width:360px){
  .about{
    background-position: 53.5% 225px;
  }
  .products {
    &__title {
      font-size: 30px;
      width: auto;
      padding-top: 85px;
      margin: 0 auto 40px;
    }
    &__card {
      width: 300px;
      padding: 11px 17px 0px;
      margin-right: 0;
      margin-bottom: 10px;
      transition: 0.2s;
    }
    &__card-title {
      margin-top: 80px;
      font-size: 30px;
    }
  }
  .partners {
    &__title {
      font-size: 45px;
    }
    &__link {
      font-size: 23px;
    }
  }
  .cook{
    background-position: -720px center;
    &__card-head{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__card-img {
      height: auto;
      width: 300px;
    }
    &__card-title {
      font-size: 30px;
    }
    &__card-btn{
      height: 25px;
      width: 25px;
    }
    &__contactbox{
      width: 100%;
    }
  }
}