@font-face{
  font-family: 'PTSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/PTSans-Bold.woff') format('woff'),
  url('../fonts/PTSans-Bold.woff2') format('woff2');
}
@font-face{
  font-family: 'PTSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/PTSans-Regular.woff') format('woff'),
  url('../fonts/PTSans-Regular.woff2') format('woff2');
}
@font-face{
  font-family: 'SourceSansPro-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/SourceSansPro-Regular.woff') format('woff'),
  url('../fonts/SourceSansPro-Regular.woff2') format('woff2');
}