@import "~normalize.css/normalize";
@import "fonts";
@import "vars";
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  font-family: "PTSans-Bold", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1em;
  position: relative;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    height: 2px;
    background-color: #fff;
  }
  &--text-color {
    color: $accentText;
    &::before {
      content: "";
      background-color: $accentText;
    }
  }
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: blue;
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &__managebox {
    position: absolute;
    top: 5px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-btn {
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    background-image: url('../images/menu-btn.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__contactbox {
    position: relative;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &::before {
      content: "";
      width: 1px;
      background-color: #fff;
      position: absolute;
      top: 0;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__wrapper {
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    width: 40px;
  }
  &__logo {
    width: 100%;
    height: auto;
    margin: 120px auto 0;
  }
}
.menu{
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 385px;
  background-color: $redBlock;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
  &--active{
    opacity: 1;
    z-index: 10;
  }
  &__btn{
    position: absolute;
    top: 5px;
    right: 50px;
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    background-image: url('../images/menu-btn-close.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__list{
    font-family: 'PTSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1em;
    text-transform: uppercase;
    color: #fff;
    height: 63%;
    max-width: 254px;
    margin: 18.42% auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__list-item:hover{
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
  }
}
.phone-number {
  display: inline-block;
  height: 30px;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 0.8em;
  color: $text;
  padding-right: 30px;
}
.languages {
  position: absolute;
  bottom: -68px;
  right: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  &__input {
    position: absolute;
    right: 9999px;
    opacity: 0;
  }
  &__item {
    font-family: "PTSans-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1em;
    color: $text;
  }
  &__input:checked + &__item {
    font-family: "PTSans-Bold", sans-serif;
    font-weight: 700;
  }
}
.about {
  transform: translateY(-58px);
  height: 940px;
  width: 100%;
  font-family: "PTSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  background: url('../images/lighthouse2.png'), linear-gradient(180deg, rgba(12, 41, 61, 0) 0.52%, #006CB5 6.25%, #7CD1F8 100%);
  background-repeat: no-repeat;
  background-size: auto 100%, 100% 100%;
  background-position: 35.5% bottom, 100% 100%;
  z-index: 5;
  &__container {
    padding-left: 9.09%;
    padding-right: 8.75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__textbox {
    width: 621px;
    height: 440px;
    margin-top: 75px;
    margin-bottom: 25px;
    line-height: 1.2em;
    z-index: 4;
  }
  &__title {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 0.8em;
    color: $accentText;
  }
  &__text {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 15px;
    color: #fff;
  }
  &__img {
    height: 835px;
    width: 845px;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__card-items {
    width: 83.3%;
    height: 400px;
    position: absolute;
    bottom: -95px;
    display: flex;
    justify-content: flex-start;
    z-index: 4;
  }
}
.card {
  // display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: start;
  height: 100%;
  width: 33.33%;
  background-color: #fff;
  // 38px
  padding-left: 3.16%;
  color: $text;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  &:nth-child(2) {
    background-color: $blueBlock;
    color: #fff;
  }
  &:nth-child(3) {
    background-color: $redBlock;
    color: #fff;
  }
  &__title {
    // 233px
    width: 64.36%;
    padding: 93px 0px 68px;
    height: 193px;
    font-family: "SourceSansPro-Regular", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 0.8em;
  }
  &__text {
    // position: absolute;
    // top: 205px;
    // 270px
    width: 67.5%;
    // height: 75px;
    font-family: "PTSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 0.9em;
  }
  &__link {
    display: inline-block;
    // position: absolute;
    // 60px
    // bottom: 15%;
    text-align: center;
    // 73px 81px
    margin-bottom: 12%;
    margin-left: 20.25%;
  }
}
.products {
  width: 100%;
  height: 1065px;
  position: relative;
  text-align: center;
  background-image: url('../images/waves.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  z-index: 0;
  &__title {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 0.8em;
    color: $accentText;
    width: 845px;
    text-align: center;
    padding-top: 325px;
    margin: 0 auto 108px;
  }
  &__card-items {
    display: flex;
    justify-content: space-between;
    width: 81.04%;
    margin: 0px 129px 49px 144px;
    z-index: 5;
  }
  &__card {
    height: 435px;
    width: 30.84%;
    padding: 11px 17px 0px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    margin-right: 24px;
    transition: 0.2s;
    border-radius: 5px;
    &:hover{
      border: 5px solid #E46266;
    }
  }
  &__card-img {
    // 255px
    height: 60%;
    // 325px
    width: 90.27%;
  }
  &__card-title {
    margin-top: 80px;
    font-family: "SourceSansPro-Regular", sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 0.8em;
    color: $text;
  }
}
.partners {
  height: 850px;
  width: 100%;
  background-image: url("../images/sea-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__title {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 0.8em;
    color: #fff;
  }
  &__card-items {
    margin: 0 auto;
    // 1165px
    width: 80.9%;
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    display: inline-block;
    height: 115px;
    // 265px
    width: 22.74%;
    margin-right: 30px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    &:nth-child(1) {
      background-image: url("../images/partner-1.png");
    }
    &:nth-child(2) {
      background-image: url("../images/partner-2.png");
    }
    &:nth-child(3) {
      background-image: url("../images/partner-3.png");
    }
    &:nth-child(4) {
      background-image: url("../images/partner-4.png");
      margin-right: 0;
    }
  }
  &__link {
    text-shadow: 0px 0px 75px #001637;
  }
}
.cook {
  height: 940px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../images/cook.png');
  background-repeat: no-repeat;
  background-position: -500px center;
  &__container {
    padding-right: 3.81%;
  }
  // &__img {
  //   display: inline-block;
  //   height: 930px;
  //   width: 990px;
  //   position: absolute;
  //   top: 0;
  //   left: -450px;
  //   z-index: -1;
  // }
  &__textbox {
    display: inline-block;
    width: 715px;
    height: 733px;
  }
  &__title {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-weight: 400;
    font-size: 75px;
    line-height: 0.8em;
    color: $accentText;
  }
  &__text {
    font-family: "PTSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
    color: $text;
    padding-top: 40px;
    padding-bottom: 70px;
  }
  &__card-items {
    width: 100%;
    height: 395px;
    display: flex;
    justify-content: space-between;
    color: $text;
  }
  &__card:hover{
    color: $accentText;
    .cook__card-btn{
      opacity: 1;
    }
  }
  &__card-img {
    height: 250px;
    width: 350px;
  }
  &__card-head{
    display: flex;
    justify-content: space-between;
  }
  &__card-title {
    font-family: "PTSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2em;
    color: inherit;
    transition: 0.3s;
  }
  &__card-btn{
    border: none;
    transition: 0.3s;
    opacity: 0;
    background-color: transparent;
    height: 32px;
    width: 32px;
    background-image: url('../images/cook-btn.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__card-textbox {
    padding-left: 50px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -10px;
      transform: translateY(-50%);
      background-image: url("../images/clock.svg");
      background-repeat: no-repeat;
      background-size: auto;
      height: 40px;
      width: 40px;
    }
  }
  &__card-text {
    display: block;
    width: 100%;
    font-family: "PTSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2em;
    color: $text;
    &:first-child {
      color: rgba(#10479a, 0.4);
    }
  }
}
.form-page{
  position: relative;
  height: 870px;
  width: 100%;
  padding-top: 197px;
  background-image: url('../images/waves.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}
.formbox{
  position: relative;
  height: 585px;
  // 1135px
  width: 78.8%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  &__textbox{
    width: 350px;
    height: 455px;
  }
  &__title{
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-weight: 400;
    font-size: 55px;
    line-height: 0.8em;
    color: $text;
  }
  &__text{
    font-family: 'PTSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
    color: $text;
    padding-top: 55px;
    padding-bottom: 90px;
  }
  &__under-text{
    font-size: 16px;
  }
}
.form{
  height: 325px;
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__contactbox{
    position: absolute;
    top: 80px;
    right: 110px;
    width: 105px;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__link{
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  &__link-img{
    display: block;
    margin: 0 auto;
  }
  &__input{
    border: none;
    font-family: 'PTSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1em;
    color: $accentText;
    border-bottom: 1px solid #C4C4C4;
    &::placeholder{
      color: $accentText;
    }
  }
  &__sumbit{
    border: none;
    border-bottom: 2px solid $accentText;
    height: 40px;
    width: 180px;
    font-family: "PTSans-Bold", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1em;
    color: $accentText;
    background-color: transparent;
    padding-bottom: 8px;
  }
}
.footer{
  position: relative;
  height: 580px;
  width: 100%;
  background-image: url('../images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &__logo{
    // 305px
    // height: 52.58%;
    width: 100%;
  }
  &__content{
    position: absolute;
    top: 235px;
    // 1135px
    width: 78.81%;
    height: 245px;
    margin: 0 12% 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    font-family: 'PTSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1em;
    color: #fff;
  }
  &__social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 130px;
    width: 30px;
  }
  &__social-img{
    height: 30px;
    width: 30px;
  }
}
.copyright{
  position: absolute;
  bottom: 0;
  background-color: #1A242E;
  width: 100%;
  height: 80px;
  padding-top: 22px;
  padding-left: 150px;
  &__link{
    font-family: 'PTSans-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;
    color: rgba(#F8F8F8, 0.5);
  }
}
@import 'media';